/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 déc. 2014, 16:19:50
    Author     : Emmanuel
*/


body {
    background: url("../images/intro-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#topMenu {
    background: #575759;
    height: 50px;
    width: 100%;
    position: fixed;
    top: -5px;
    left: -0.5px;
    font-size: 20px;
    color: white;
    font-weight: bold;

}
#leftMenu{
    float: right;
    position:relative;
    right: 25px;
    text-align: center;

}
#topMenu nav ul li{
    display: inline;
    text-decoration: none; 
    margin-left: 5px;
}

#rightMenu{

}

#content{
    margin-top: 60px;
}

a{
    text-decoration: none;
}
/* unvisited link */
a:link {
    color: whitesmoke;
}

/* visited link */
a:visited {
    color: whitesmoke;
}

/* mouse over link */
a:hover {
    color: buttonhighlight;
}

#formtitle, #formcontact, #textcontact{
    text-align: center;
    position: relative;
}

fieldset{ 
    border:0;
    margin:0;
    padding:0; 
}

label{ 
    display:block;
}

input.text,textarea{
    width:300px;
    font:12px/12px 'courier new',courier,monospace;
    color:#333;
    padding:3px;
    margin:5px 0;
    border:1px solid #ccc;
}

input.submit { 
    padding:2px 5px;
    font:bold 12px/12px verdana,arial,sans-serif; 
}

#footer{
    position: fixed;
    bottom: 0px;
    clear: both;
    height: 50px;
    width: 100%;
    color: whitesmoke;
}

#footertext{
    text-align: center;
}
