<ui:composition template="secureTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="mainContent">
		<script type="text/javascript" src="../resources/js/search.js"></script>

		<div class="container">
			<div class="box">
				<div class="col-md-12" style="margin-bottom: 5%;">
					<hr />
					<h3 class="page-header text-center">
						<STRONG>Mon Portofolio</STRONG>
					</h3>
					<hr />
				</div>
				<div class="col-md-12">
					<a id="uploadPicture" href="uploadImage.jsp"><button
							type="button" class="btn btn-info btn-lg text-center">
							<span class="glyphicon glyphicon-cloud-upload"
								style="font-size: 1.5em"></span> Cliquez ici pour Uploader
						</button></a>


					<h:inputHidden id="userIdInput" value="${sessionValue.id}"></h:inputHidden>
					<c:if test="${sessionValue.role eq 'PREMIUM'}">
						<div class="pull-right">
							<form class="navbar-form" role="search">
								<div class="input-group">
									<input type="text" class="form-control input-lg"
										data-toggle="tooltip" data-placement="left"
										data-original-title="Rechercher un titre de photo"
										placeholder="Recherche..." name="searchField" id="searchField" />
									<div class="input-group-btn">
										<button id="submitSearchButton" class="btn btn-default btn-lg"
											type="button" onclick="search()">
											<i class="glyphicon glyphicon-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</c:if>
				</div>
				<!-- SEARCH PICTURES -->

				<div id="searchPictures" class="col-md-12" style="margin-top: 20px;"></div>

				<!-- PUBLIC PICTURES -->

				<div id="newPictures" class="col-md-12" style="margin-top: 20px;">
					<h4 class="page-header">
						Images Publiques Récentes<small class="text pull-right"
							style="color: black;">Retrouvez ici les dernières images
							des autres utilisateurs.</small>
					</h4>

					<c:if
						test="${imageController.findLastUploadedPublicPicturesFromOthers(sessionScope.USER.id).size() eq 0}">
						<p class="text-info">Bientôt vous pourrez voir ici les images
							des autres utilisateurs.</p>
					</c:if>
					<ul class="list-inline">
						<c:forEach var="img"
							items="${imageController.findLastUploadedPublicPicturesFromOthers(sessionScope.USER.id)}">
							<li class="col-md-2"
								style="list-style: none; margin-bottom: 25px;"><h:graphicImage
									alt="${img.id};${sessionScope.USER.id};${img.owner.username};${sessionScope.USER.username};${sessionScope.USER.role};${img.description};${img.height};${img.width};${img.visibility}"
									class="img-thumbnail"
									value="/uploadFiles/${img.owner.id}/${img.title}"
									src="/uploadFiles/${img.owner.id}/${img.title}"
									title="${img.title}"
									style="cursor: pointer; height: 175px; width: 200px"
									onclick="drawImageModal(this.src, this.title, this.alt);"></h:graphicImage>
							</li>
						</c:forEach>
					</ul>
				</div>

				<!-- USER PORTOFOLIO -->

				<div id="myPictures" class="col-md-12" style="margin-top: 20px;">
					<h4 class="page-header">
						Mes Images<small class="pull-right" style="color: black;"><h:outputText
								value="Vous possédez actuellement ${imageController.findAllPicturesFromUser(sessionScope.USER.id).size()} image(s) dans votre portofolio."></h:outputText></small>
					</h4>

					<c:if
						test="${imageController.findAllPicturesFromUser(sessionScope.USER.id).size() eq 0}">
						<p class="text-info">Vous n'avez pas d'image dans votre
							portofolio. Importez une image grâce au bouton d'upload situé
							plus haut.</p>
					</c:if>
					<ul class="list-inline">
						<c:forEach var="img"
							items="${imageController.findAllPicturesFromUser(sessionScope.USER.id)}"
							varStatus="status">
							<li class="col-md-2"
								style="list-display: none; margin-bottom: 25px;"><h:graphicImage
									alt="${img.id};${sessionScope.USER.id};${img.owner.username};${sessionScope.USER.username};${sessionScope.USER.role};${img.description};${img.height};${img.width};${img.visibility}"
									class="img-thumbnail"
									value="/uploadFiles/${img.owner.id}/${img.title}"
									src="/uploadFiles/${img.owner.id}/${img.title}"
									title="${img.title}"
									style="cursor: pointer; height: 175px; width: 200px"
									onclick="drawImageModal(this.src, this.title, this.alt);"></h:graphicImage>
							</li>
						</c:forEach>
					</ul>
				</div>

			</div>
		</div>

		<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body" style="text-align: center;"></div>
				</div>
			</div>
		</div>

		<script type="text/javascript"
			src="../resources/js/displayImageModal.js"></script>
		<script type="text/javascript" src="../resources/js/deleteImage.js"></script>
	</ui:define>
</ui:composition>

