<ui:composition template="secureTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="mainContent">

		<div class="container">

			<div class="box">
				<div class="col-md-12" style="margin-bottom: 5%;">
					<hr />
					<h3 class="page-header text-center">
						<strong>Page d'Upload</strong>
					</h3>
					<hr />
				</div>


				<form method="post" target="frameUpload" action="ImageLoaderServlet"
					enctype="multipart/form-data">
					<p>
						Veuillez choisir l'image à ajouter à votre portofolio. <small
							class="pull-right"><h:outputText
								value="Vous possédez actuellement ${imageController.findAllPicturesFromUser(sessionScope.USER.id).size()} image(s) dans votre portofolio."></h:outputText></small>
					</p>
					<div style="margin-top: 50px;">

						<span class="btn btn-info btn-lg btn-file"
							style="position: relative; overflow: hidden;"> <span
							for="fileInput" class="glyphicon glyphicon-folder-open"></span>
							Parcourir <input id="fileInput" type="file" class="file"
							name="fileInput"
							style="position: absolute; top: 0; right: 0; min-width: 100%; min-height: 100%; font-size: 100px; text-align: right; filter: alpha(opacity = 0); opacity: 0; outline: none; background: white; cursor: inherit; display: block;"></input></span>

						<div id="uploadFields" class="form-group"
							style="margin-top: 25px; display: none;">
							<div class="input-group" style="width: 50%;">
								<h:inputText id="pictureTitle" type="text" name="pictureTitle"
									class="form-control input-lg"
									value="${ sessionScope.USER.id };${ img.title }"
									placeholder="Titre de votre photo" readonly="true">
								</h:inputText>
							</div>

							<div class="input-group" style="margin-top: 10px; width: 50%;">
								<input id="pictureDesc" class="form-control input-lg"
									type="text" placeholder="Description de votre photo"
									name="pictureDesc" />
							</div>

							<div class="btn-group" data-toggle="buttons"
								style="margin-top: 10px; width: 50%;">
								<label class="btn btn-default btn-lg active"> <input
									type="radio" name="imageVisibility" id="public" value="PUBLIC"
									checked="checked" /> Publique
								</label>
								<c:if test="${ sessionScope.USER.role eq 'PREMIUM' }">
									<label class="btn btn-default btn-lg"> <input
										type="radio" name="imageVisibility" id="private"
										value="PRIVATE" /> Privée
									</label>
								</c:if>

							</div>
							<br />

							<div id="pictureDisplayZone" style="margin-top: 20px;"></div>
							<div id="pictureAttrZone" style="margin-top: 20px;"></div>

						</div>

					</div>

					<div class="form-group" style="margin-top: 20px;">
						<button id="uploadPicture" class="btn btn-success btn-lg"
							value="Upload">Uploader</button>
						<div id="errorBlockPicture" class="help-block pull-right"></div>

					</div>
				</form>

			</div>


		</div>
		<iframe name="frameUpload" id="frameUpload" style="display: none;"></iframe>
		<script type="text/javascript"
			src="../resources/js/displayImageModal.js"></script>
	</ui:define>
</ui:composition>
