<ui:composition template="adminTemplate.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="mainContent">
		<div class="container">
			<div class="box">
				<div class="col-md-12" style="margin-bottom: 5%;">
					<hr />
					<h3 class="page-header text-center">
						<STRONG>GESTION des utilisateurs</STRONG>
					</h3>
					<hr />
				</div>
				<table class="table table-hover">
					<tr>
						<td>ID</td>
						<td>Nom</td>
						<td>Username</td>
						<td>Email</td>
					</tr>
					<c:forEach id="Userlist" items="#{userAppController.findAllUser()}"
						var="userVariable" border="1">
						<tr>
							<td><h:outputText  value="#{userVariable.id}" /></td>


							<td><h:outputText value="#{userVariable.name}" /></td>

							<td><a> <h:outputText value="#{userVariable.username}" />
							</a></td>
							<td><h:outputText value="#{userVariable.email}" /></td>

							<td><c:if test="#{userVariable.id ne 0}">
									<h:commandButton id="deleteButton" onclick="deleteUser(#{userVariable.id})" type="button"
										class="btn btn-danger  text-center" value="Supprimer"></h:commandButton>
								</c:if></td>
						</tr>
					</c:forEach>
				</table>
			</div>
		</div>
		<script type="text/javascript" src="../resources/js/adminScript.js"></script>
	</ui:define>
</ui:composition>

