<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="mainContent">
		<div class="container">

			<div class="row">
				<div class="box">
					<div class="col-lg-12 text-center">
						<div id="carousel-example-generic" class="carousel slide">
							<!-- Indicators -->
							<ol class="carousel-indicators hidden-xs">
								<li data-target="#carousel-example-generic" data-slide-to="0"
									class="active"></li>
								<li data-target="#carousel-example-generic" data-slide-to="1"></li>
								<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								<li data-target="#carousel-example-generic" data-slide-to="3"></li>
								<li data-target="#carousel-example-generic" data-slide-to="4"></li>
								<li data-target="#carousel-example-generic" data-slide-to="5"></li>
								<li data-target="#carousel-example-generic" data-slide-to="6"></li>
								<li data-target="#carousel-example-generic" data-slide-to="7"></li>
								<li data-target="#carousel-example-generic" data-slide-to="8"></li>
								<li data-target="#carousel-example-generic" data-slide-to="9"></li>
							</ol>

							<!-- Wrapper for slides -->
							<div class="carousel-inner">
								<div class="item active">
									<img class="img-responsive img-full"
										src="resources/img/slide-1.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-2.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-3.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-4.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-5.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-6.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-7.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-8.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-9.jpg" alt="" />
								</div>
								<div class="item">
									<img class="img-responsive img-full"
										src="resources/img/slide-10.jpg" alt="" />
								</div>
							</div>

							<!-- Controls -->
							<a class="left carousel-control" href="#carousel-example-generic"
								data-slide="prev"> <span class="icon-prev"></span>
							</a> <a class="right carousel-control"
								href="#carousel-example-generic" data-slide="next"> <span
								class="icon-next"></span>
							</a>
						</div>
						<h2 class="brand-before">
							<small>Bienvenue dans</small>
						</h2>
						<h1 class="brand-name">UPEMGUR</h1>
						<hr class="tagline-divider" />

					</div>
				</div>
			</div>
			<div class="row">
				<div class="box">
					<div class="col-lg-12">
						<hr />
						<h2 class="intro-text text-center">
							IMPORTEZ VOS <strong>IMAGES</strong>
						</h2>
						<hr />
						<hr />
						<h2 class="intro-text text-center">
							PARTAGEZ VOS <strong>MEILLEURES CAPTURES</strong>
						</h2>
						<hr />

						<hr />
						<h2 class="intro-text text-center">
							CONSULTEZ LES <strong>IMAGES PUBLIQUES D'AUTRES
								UTILISATEURS</strong>

						</h2>
						<hr />
					</div>
				</div>
			</div>
		</div>
		<script>
            $('.carousel').carousel({
                interval: 3000
                        //changes the speed
            });
        </script>
	</ui:define>

</ui:composition>

