<ui:composition template="template.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:define name="mainContent">
		<script src="resources/js/connexion.js"></script>
		<div class="container">


			<div class="box">

				<form class="form-horizontal">
					<div id="authentificationStatus" style='display: none'
						class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<p class="btn btn-danger btn-lg">L'authentification a échoué !</p>
						</div>

					</div>

					<div class="form-group">
						<label for="username" class="col-sm-2 control-label">Nom
							d'utilisateur :</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="username"
								placeholder="Votre nom utilisateur" />
						</div>
					</div>
					<div class="form-group">
						<label for="password" class="col-sm-2 control-label">Mot
							de passe :</label>
						<div class="col-sm-10">
							<input type="password" class="form-control" id="password"
								placeholder="votre mot de passe" />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-12 control-label">
							<button id="connexion" type="submit" class="btn btn-primary">Se
								connecter</button>
							<a href="userForm.jsp" type="submit" class="btn btn-info">S'inscrire</a>
						</div>

					</div>

				</form>



			</div>
		</div>
	</ui:define>
</ui:composition>