<footer>
    
    <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p> Copyright -- Emmanuel Babala Costa - Thomas Londechamp -- UpemGur</p>
                </div>
            </div>
    </div>
</footer>