<div class="brand">UPEMGUR CASUAL</div>
	<div class="address-bar">UPEM</div>

	<!-- Navigation -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
				<a class="navbar-brand" href="index.html">UPEMGUR Casual</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="accueil.xhtml">Accueil</a></li>
					<li><a href="secure/portofolio.xhtml">Portofolio</a></li>

					<li><a href="contact.xhtml">Contact</a></li>
					<li><c:set var="sessionValue" value="${sessionScope.USER_ID}" />

						<c:if test="${not empty sessionValue}">
							<a href="connexion.xhtml">Connexion</a>
						</c:if> <c:if test="${empty sessionValue}">
							<a href="connexion.xhtml">Deconnexion</a>
						</c:if></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

