<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<h:head>
	<title>Bienvenue sur Upemgur</title>
	<!--<meta http-equiv="refresh" content="0; url=userForm.faces" />-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- Bootstrap Core CSS -->
	<link href="resources/css/bootstrap.min.css" rel="stylesheet" />

	<!-- Custom CSS -->
	<link href="resources/css/business-casual.css" rel="stylesheet" />
	<!-- Fonts -->
	<link
		href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
		rel="stylesheet" type="text/css" />
	<link
		href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic"
		rel="stylesheet" type="text/css" />
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
                    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
                    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
                <![endif]-->
	<!-- jQuery -->
	<script src="resources/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/connexion.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$('[data-toggle="tooltip"]').tooltip();
		});
	</script>

</h:head>
<body>
	<f:view>

		<c:set var="sessionValue" value="${sessionScope.USER}" />
		<div id="IncludeHeader">
			<div class="brand">UPEMGUR CASUAL</div>
			<div class="address-bar">UPEM</div>
			<c:if test="${not empty sessionValue}">
				<div class="address-bar">

					<h:outputText value="Bonjour ${sessionValue.username}"></h:outputText>
				</div>
			</c:if>

			<!-- Navigation -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
						<a class="navbar-brand" href="index.html">UPEMGUR Casual</a>
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse"
						id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="accueil.jsp">Accueil</a></li>
							<li><a href="secure/portofolio.jsp">Portofolio</a></li>

							<!-- 							<li><a href="contact.jsp">Contact</a></li> -->
							<li><c:if test="${empty sessionValue}">
									<a href="connexion.jsp">Connexion</a>
								</c:if> <c:if test="${not empty sessionValue}">
									<a id="deconnect" href="#">Déconnexion</a>

								</c:if></li>
						</ul>
					</div>

				</div>

			</nav>
		</div>


		<ui:insert name="mainContent">

		</ui:insert>



		<footer class="footer">
			<div class="container text-center">
				<p class="text">
					Copyright <span class="glyphicon glyphicon-copyright-mark"></span>
					-- Tous droits réservés -- Emmanuel Babala Costa - Thomas
					Londechamp -- UpemGur - 2015
				</p>
			</div>
		</footer>
	</f:view>
</body>
</html>
