
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <head>
        <script src="resources/js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="resources/js/bootstrap.min.js"></script>

        <script src="resources/js/script.js"></script>
    </head>
    <body>

        <ui:composition template="template.xhtml">

            <ui:define name="mainContent">
                <script src="resources/js/script.js"></script>
                <f:metadata>
                    <f:event listener="#{userAppController.init()}"
                             type="preRenderView"></f:event>
                </f:metadata>

                <div class="container">


                    <div class="box">

                        <legend>Formulaire d'inscription</legend>
                        <h:form class="form-horizontal" id="userForm" role="form" action="/InscriptionServlet" >

                            <div id="inscriptionOK" style='display: none' class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">

                                    <p class="btn btn-success btn-lg">Votre inscription a
                                        réussi, vous allez être redirigé vers la page de connexion...</p>
                                </div>

                            </div>

                            <div class="form-group">

                                <label class="col-sm-2 control-label">Nom* : </label>
                                <div class="col-sm-4">
                                    <h:inputText id="nom" value="#{userAppController.user.name}"
                                                 class="form-control" p:placeholder="Votre nom">
                                        <f:ajax event="blur" render="nameMessage" />
                                    </h:inputText>
                                </div>

                                <span class="col-sm-3" id="nomObligatoire" style='display: none'>Ce
                                    champ est obligatoire</span> <span class="col-sm-3"
                                                                   id="hideNameValidatorMessage"> <h:message
                                        id="nameMessage" for="nom" errorClass="erreur" />
                                </span>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Username* : </label>
                                <div class="col-sm-4">
                                    <h:inputText id="username" class="form-control"
                                                 value="#{userAppController.user.username}"
                                                 p:placeholder="Nom d'utilisateur">
                                        <f:validator validatorId="existingUsernameValidator"
                                                     binding="#{existingUsernameValidator}" />
                                        <f:ajax event="blur" render="userNameMessage" />

                                    </h:inputText>
                                </div>
                                <span class="col-sm-3" id="hideUsernameValidatorMessage">
                                    <h:message id="userNameMessage" for="username"
                                               errorClass="erreur" />
                                </span> <span class="col-sm-3" id="usernameObligatoire"
                                              style='display: none'>Nom d'utilisateur déjà pris</span>

                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Mot de Passe* : </label>
                                <div class="col-sm-4">
                                    <h:inputSecret class="form-control" id="pwd"
                                                   value="#{userAppController.user.password}"
                                                   p:placeholder="Entrez un mot de passe">
                                        <f:ajax event="blur" render="pwdMessage" />
                                    </h:inputSecret>
                                </div>
                                <span class="col-sm-3" id="pwdObligatoire" style='display: none'>Ce
                                    champ est obligatoire</span> <span class="col-sm-3"
                                                                   id="hidePwdValidatorMessage"> <h:message id="pwdMessage"
                                                                         for="pwd" errorClass="erreur" />
                                </span>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">Email* : </label>
                                <div class="col-sm-4">
                                    <h:inputText id="email" class="form-control"
                                                 value="#{userAppController.user.email}" p:placeholder="Email">* 


                                        <f:ajax event="blur"
                                                render="emailMessage" />
                                    </h:inputText>
                                </div>
                                <span class="col-sm-3" id="emailObligatoire"
                                      style='display: none'>Ce champ est obligatoire et doit
                                    contenir un email correct</span> <span class="col-sm-3"
                                                                       id="hideEmailValidatorMessage"> <h:message
                                        id="emailMessage" for="email" errorClass="erreur" />
                                </span>
                            </div>

                            <div class="form-group">
                                <label for="typeCompte" class="col-sm-2 control-label">Type
                                    de Compte* :</label>
                                <div class="col-sm-4">
                                    <select id="typeCompte">
                                        <option value="1">BASIC</option>
                                        <option value="2">PREMIUM</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">Téléphone : </label>
                                <div class="col-sm-4">
                                    <h:inputText class="form-control" id="phone"
                                                 value="#{userAppController.user.phoneNumber}"
                                                 p:placeholder="Votre numéro de téléphone">
                                        <f:ajax event="blur" render="phoneMessage" />
                                    </h:inputText>
                                </div>
                                <span id="phoneObligatoire" class="col-sm-3"
                                      style='display: none'> Ce champ est optionnel et ne doit
                                    contenir que des chiffres</span> <span class="col-sm-3"
                                                                       id="hidePhoneValidatorMessage"> <h:message
                                        id="phoneMessage" for="phone" errorClass="erreur" />
                                </span>
                            </div>


                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success btn-lg">S'inscrire</button>
                                </div>

                            </div>

                        </h:form>
                    </div>
                </div>

            </ui:define>
        </ui:composition>

    </body>
</html>