<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core">


    <h:head>
        <title>
            USERTEST
        </title>
    </h:head>
    <h:body>

        <h1>List of USER</h1>

        <h:dataTable id="booklist" 
                     value="#{userController.findAllBooks()}" 
                     var="bk" 
                     border="1">

            <h:column>
                <f:facet name="header">
                    <h:outputText value="ID"/>
                </f:facet>
                <h:outputText value="#{bk.id}"/>
            </h:column>

            <h:column>
                <f:facet name="header">
                    <h:outputText value="Name"/>
                </f:facet>
                <h:outputText value="#{bk.name}"/>
            </h:column>
            </h:form>
    </h:body>
</html>